---
import HalamanAwal from "../layout/halaman-awal.astro";
---

<HalamanAwal link_aktif="badges" judul="Badges">
  <div
    class="grid grid-cols-4 gap-5 [&>*]:w-full [&_img]:(w-full block) <sm:[&>*]:col-span-4"
  >
    <figure class="col-span-4">
      <embed
        src="https://wakatime.com/share/@mzaini30/7587aac3-65e7-4430-a80f-a0b9c13d7b25.svg"
      />
    </figure>

    <img src="https://projecteuler.net/profile/mzaini30.png" alt="" />
    <a
      href="https://data.typeracer.com/pit/profile?user=mzaini30&ref=badge"
      target="_top"
      ><img
        src="https://data.typeracer.com/misc/badge?user=mzaini30"
        alt="TypeRacer.com scorecard for user mzaini30"
      /></a
    >
    <img
      class="col-span-2"
      alt="Custom badge"
      src="https://img.shields.io/endpoint?style=social&url=https%3A%2F%2Fapi.codetime.dev%2Fshield%3Fid%3D19297%26project%3D%26in%3D0"
    />
  </div>
</HalamanAwal>
